* {
  font-family: "Quicksand", sans-serif;
}

h1, h2 {
  font-family: "Gravitas One", cursive;
}

h2 {
  text-transform: lowercase;
  font-size: 2.2rem;
}

.as-right {
  text-align: right;
}

.as-white {
  color: #FFF;
}

p {
  font-size: 1.3rem;
  line-height: 2.2rem;
}

.inner-wrap {
  width: 1300px;
  margin: auto;
}

header {
  padding: 25px 0px;
  position: fixed;
  background: #FFF;
  width: 100%;
  z-index: 5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
header .inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .inner-wrap .nav-button {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
header .inner-wrap .nav-button ul {
  display: flex;
  padding: 0;
  list-style: none;
}
header .inner-wrap .nav-button ul li {
  margin: 0px 20px;
}
header .inner-wrap .nav-button button {
  background-color: #000;
  color: white;
  padding: 10px;
  border: 1px solid black;
  transition: all 0.2s;
}
header .inner-wrap .nav-button button:hover {
  background-color: #FFF;
  color: #000;
}
header .inner-wrap .nav-button a {
  color: inherit;
  text-decoration: inherit;
}

main .banner {
  background-image: linear-gradient(270.18deg, rgba(0, 0, 0, 0.4) 0.6%, rgba(0, 0, 0, 0) 100%), url("../img/background_banner.jpeg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
}
main .banner .inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .banner .inner-wrap figure {
  position: relative;
}
main .banner .inner-wrap figure:after {
  display: block;
  content: " ";
  position: absolute;
  right: -15%;
  top: -15%;
  background-color: #000;
  box-shadow: -6px -6px 0px 1px #FFFFFF;
  width: 130px;
  height: 130px;
}
main .banner .inner-wrap figure:before {
  display: block;
  content: " ";
  position: absolute;
  left: -15%;
  bottom: -15%;
  background-color: #000;
  box-shadow: 6px 6px 0px 1px #FFFFFF;
  width: 130px;
  height: 130px;
}
main .banner .banner-content {
  background-color: #FFF;
  width: 55%;
  padding: 40px 100px;
  box-shadow: 10px 10px 0px 3px #000000;
}
main .outline-bloc {
  overflow: hidden;
}
main .outline-bloc .outline {
  width: max-content;
  font-size: 2rem;
  margin-top: 70px;
  margin-left: 0px;
}
main .outline-bloc .outline span {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-family: "Gravitas One", cursive;
  text-transform: uppercase;
  font-size: 2.8rem;
}
main #a-propos {
  margin-top: 100px;
}
main #a-propos .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #a-propos .content p {
  width: 60%;
}
main #confiance {
  background-color: #221E1E;
  padding: 50px 0px;
  margin-top: 100px;
}
main #confiance .inner-wrap h2 {
  margin-bottom: 70px;
}
main #confiance .inner-wrap .splide__pagination {
  bottom: -2em;
}
main #confiance .inner-wrap .splide__slide {
  width: 300px;
  height: 400px;
  background: red;
  margin: 10px;
}

/*# sourceMappingURL=style.css.map */
