
//FONT
$font-normal: 'Quicksand', sans-serif;
$font-special: 'Gravitas One', cursive;

//COLOR
$color-black: #000;
$color-white: #FFF;
$color-grey: #221E1E;

* {
  font-family: $font-normal;
}

h1, h2 {
  font-family: $font-special;
}

h2 {
  text-transform: lowercase;
  font-size: 2.2rem;
}

.as-right {
  text-align: right;
}

.as-white {
  color: $color-white;
}

p {
  font-size: 1.3rem;
  line-height: 2.2rem;
}

.inner-wrap {
  width: 1300px;
  margin: auto
}

header {
  padding: 25px 0px;
  position: fixed;
  background: $color-white;
  width: 100%;
  z-index: 5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

  .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-button {
      display: flex;
      width: 50%;
      justify-content: space-between;
      align-items: center;

      ul {
        display: flex;
        padding: 0;
        list-style: none;

        li {
          margin: 0px 20px;
        }
      }

      button {
        background-color: $color-black;
        color: white;
        padding: 10px;
        border: 1px solid black;
        transition: all 0.2s;

        &:hover {
          background-color: $color-white;
          color: $color-black;
        }
      }

      a {
        color: inherit;
        text-decoration: inherit;
      }
    }
  }
}

main {
  .banner {

    background-image: linear-gradient(270.18deg, rgba(0, 0, 0, 0.4) 0.6%, rgba(0, 0, 0, 0) 100%), url('../img/background_banner.jpeg');
    background-size: cover;
    background-position: center;

    height: 80vh;

    display: flex;

    .inner-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      figure {
        position: relative;

        &:after {
          display: block;
          content: ' ';
          position: absolute;
          right: -15%;
          top: -15%;


          background-color: #000;
          box-shadow: -6px -6px 0px 1px #FFFFFF;

          width: 130px;
          height: 130px;
        }

        &:before {
          display: block;
          content: ' ';
          position: absolute;
          left: -15%;
          bottom: -15%;


          background-color: #000;
          box-shadow: 6px 6px 0px 1px #FFFFFF;

          width: 130px;
          height: 130px;
        }
      }

    }

    .banner-content {
      background-color: #FFF;
      width: 55%;
      padding: 40px 100px;

      box-shadow: 10px 10px 0px 3px #000000;
    }


  }

  .outline-bloc {

    overflow: hidden;

    .outline {

      width: max-content;
      font-size: 2rem;
      margin-top: 70px;
      margin-left: 0px;

      span {
        color: white;
        text-shadow: -1px -1px 0 $color-black, 1px -1px 0 $color-black, -1px 1px 0 $color-black, 1px 1px 0 $color-black;
        font-family: $font-special;
        text-transform: uppercase;
        font-size: 2.8rem;
      }
    }
  }

  #a-propos {
    
    margin-top: 100px;

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      p {
        width: 60%;
      }

    }

  }

  #confiance {
    background-color: $color-grey;
    padding: 50px 0px;
    margin-top: 100px;

    .inner-wrap {
      h2 {
        margin-bottom: 70px;
      }

      .splide__pagination {
        bottom: -2em;
      }

      .splide__slide {
        width: 300px;
        height: 400px;
        margin: 10px;

        position: relative;

        .text-container {
          position: absolute;
          bottom: 0;
          width: 100%;

          background: linear-gradient(180deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.8) 100%);
          color: $color-white;

          padding: 20px;

          text-shadow: 0px 0px 5px rgba(0,0,0,0.6);

          h3 {
            font-size: 1.6rem;
          }

          em {
            font-size: 1rem;
          }
          
        }
      }
    }

  }
}
